#title {
  background-color: #ff4c68;
}

::-moz-selection {
    color: #ff4c68;
    background: white;
  }
  
::selection {
    color: #ff4c68;
    background: white;
  }

.mont {
  font-family: "Montserrat";
}

.mont-black {
    font-family: "Montserrat";
    font-weight: 900;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.navbar-brand {
  font-size: 3rem;
  color: white;
}

.nav-link {
  font-size: 1.3rem;
}

.nav-item {
  padding: 0 15px;
}

.navbar {
  padding-bottom: 4.5rem;
}

.hero-text {
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.hero-button {
  margin-right: 15px;
}

.container-fluid {
  padding: 3% 15%;
}

.iphone-mockup {
  transform: rotate(25deg);
  /* width: 25rem;  */
  max-width: 60%;
  position: relative;
  left: 15%;
  top: 10%;
}

#features {
  padding-top: 7%;
  padding-bottom: 7%;
  margin: auto;
  text-align: center;
  background-color: white;
  position: relative;
}

.features {
  margin: auto;
}

.feature-heading {
  font-size: 1.5rem;
  text-align: center;
}

.feature-text {
  font-size: 1.2rem;
  text-align: center;
  color: #8f8f8f;
}

.feature-icon {
  text-align: center;
  font-size: 5rem;
  margin: auto;
  color: #ef8172;
  padding-bottom: 20px;
}

.feature-icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  margin: auto;
  color: white;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.testimonial-carousel {
  width: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 10%;
}

.press-images {
  width: 15%;
  margin: 20px 20px 50px 20px;
}

#pricing {
  padding: 100px 100px;
}

.sign-up-btn {
  width: 100%;
}

.card {
  width: 18rem;
  margin: auto;
}

.card-title {
  text-align: center;
}

.price {
  text-align: center;
  padding-bottom: 10px;
}

.pricing-title {
  font-size: 3rem;
  text-align: center;
}

.pricing-text {
  font-size: 1.3rem;
  padding-bottom: 50px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.price-features {
  font-size: 1rem;
}

#cta {
  padding: 7% 5%;
  text-align: center;
  margin: auto;
  background-color: #ff4c68;
}

.cta-text {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 5% 15%;
}

.cta-button {
  margin: 7px;
  text-align: center;
}

#footer {
  text-align: center;
  margin: auto;
  padding: 7% 15%;
}

.footer-social {
  color: black;
  font-size: 1.5rem;
  margin: 20px 10px;
}

.footer-social:hover {
  color: #ff4c68;
}

.footer-text {
  font-size: 1.5rem;
}

.footer-text-href {
    text-decoration: none;
    color: black;
}

.footer-text-href:hover {
    text-decoration: none;
    color: black;
}


@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .iphone-mockup {
    position: static;
    transform: rotate(0);
  }
  .hero-box {
    padding-bottom: 50px;
  }

  .feature-icon {
    color: #ff4c68;
  }
}
